.winner-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;
  bottom: 45rem;
  display: grid;
  place-items: center;
  /* pointer-events: none; */
  background: rgba(255, 255, 255, 0.9)
}

.winner-modal__box {
  height: 100px;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 10px;
  /* background: rgba(224, 255, 255, 0.8); */
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 600px) {
  .winner-modal {
    top: 0;
    bottom: 0;
  }
}
