.startbtn {
  margin: 20px auto;
}

.startbtn button {
  font-size: 3rem;
  font-family: 'Londrina Sketch', cursive;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
  background:
    linear-gradient(
      to right, 
      rgba(240, 128, 128, 0.1) 0%,
      rgba(240, 128, 128, 0.1) 100%
    );
  background-position: left;
  background-size: 0 0;
  background-repeat: repeat-y;
  transition: all 0.3s ease-out;
}

.startbtn button:hover {
  cursor: pointer;
  background-size: 100% 1px;
  border: 1px solid lightcoral;
}

.startbtn button:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .startbtn button {
    border: none;
    font-size: 1.5rem;
  }
}