@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

body {
  margin: 0;
  font-family: 'Londrina Sketch', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./paperback.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 600px) {
  body {
    background: url(./paper.jpg);
    background-size: 100vh;
  }
}